#catalog-section {
  padding: 20px 0;
}

.dsc-catalog-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.dsc-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.dsc-mb20 {
  margin-bottom: 20px;
}

.dsc-mt20 {
  margin-top: 20px;
}