.dsc-btn {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dsc-btn-blue {
  border: none;
  background-color: var(--dsc-color-btn-primary);
  color: var(--dsc-color-btn-inverse);
}